@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

canvas {
	background-color: black;
	border: 1px solid white;
}

body {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

p {
	position: absolute;
	top: 1vh;
	color: white;
}
